* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.top-container {
    background-color: #FFF2F2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cloud {
    max-width: 400px;
}

.right {
    align-self: end;
    margin-top: 50px;
}

.left {
    align-self: start;
    margin-top: 50px;
}

.hi-cloud {
    align-self: center;
    margin-top: 50px;
}

.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: 5.5rem;
    font-family: "DM Sans", sans-serif;
}

.title-text h2 {
    text-align: center;
    font-size: 2rem;
}

h1, h2, h3, p {
    color: #2D336B;
}

span {
    text-decoration: underline;
}

.half-moon {
    align-self: center;
    max-width: 500px;
    margin-top: auto;
}

@media (min-width: 300px) and (max-width: 480px) {
    .cloud {
        max-width: 200px;
        margin-top: 150px;
    }

    .half-moon {
        max-width: 250px;
        margin-top: 100px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .title-text h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 481px) and (max-width: 600px) {

    .cloud {
        max-width: 250px;
        margin-top: 150px;
    }

    .half-moon {
        max-width: 300px;
        margin-top: 100px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .title-text h2 {
        font-size: 1.5rem;
    }

}




/* midle-container */

.midle-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #A9B5DF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    margin-top: 150px;
    max-width: 250px;
    border-radius: 55%;
}

.profile h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 4rem;
    margin-top: 50px;
}

.me {
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
    width: 500px;
}

@media (min-width: 300px) and (max-width: 480px) {
    .profile img {
        max-width: 150px;
    }

    .profile h2 {
        font-size: 2rem;
    }

    .me {
        font-size: 1.2rem;
        max-width: 150px;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    .profile img {
        max-width: 250px;
    }

    .profile h2 {
        font-size: 2.5rem;
    }

    .me {
        font-size: 1.6rem;
        max-width: 400px;
        
    }

}

hr {
    border: dotted #2D336B 5px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

/* Skills */

.skills-container {
    margin-top: 100px;
    min-height: 100vh;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.text-skills {
    grid-area: 1/1/3/3;
    font-family: "DM Sans", sans-serif;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.icon-container {
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-container p {
    font-size: 2rem;
}

.icon-skills {
    max-width: 100px;
}

.icon-bootstrap {
    max-width: 150px;
}

.icon-office {
    max-width: 110px;
}

@media (min-width: 300px) and (max-width: 480px) {
    .text-skills {
        font-size: 1.8rem;
    }

    .icon-skills {
        max-width: 30px;
    }

    .icon-container p {
        font-size: 0.8rem;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    .text-skills {
        font-size: 2.5rem;
    }

    .icon-skills {
        max-width: 80px;
    }

    .icon-container p {
        font-size: 1.3rem;
    }
}

/*contact-me*/

.contact-me {
    min-height: 100vh;
    text-align: center;
    margin-top: 100px;
}

.contact-me h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 4rem;
    text-decoration: underline;
}

.contact-me h3 {
    max-width: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.btn {
    color: #FFF2F2;
    background-color: #FFF2F2;
    background-image: linear-gradient(to bottom, #5c6294, #2D336B);
    border-radius: 8px;
    border: 2px solid #FFF2F2;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background-color: #FFF2F2;
    background-image: linear-gradient(to bottom, #5c6294, #2D336B);
    text-decoration: none;
}

@media (min-width: 300px) and (max-width: 480px) {
    .contact-me h2 {
        font-size: 2rem;
    }

    .contact-me h3 {
        font-size: 1rem;
        max-width: 300px;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    .contact-me h2 {
        font-size: 2.5rem;
    }

    .contact-me h3 {
        font-size: 1.5rem;
        max-width: 400px;
    }
}

/*Footer*/

.bottom-container {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #7886C7;
}

.moon-footer {
    padding-left: 10px;
}

.icon-footer {
    padding-right: 30px;
}

@media (min-width: 300px) and (max-width: 480px) {
    .bottom-container {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    .icon-footer {
        padding-right: 10px;
    }
}